script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/delete.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25468002-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $(function(){
    //move heatmaps client code
    var socket = io.connect('http://localhost:3000');
    $(document).mousemove(function(e){
        socket.emit("trackMove",{
            point: {x:e.pageX, y:e.pageY},
            pageId: "5098d7a2138675c84e000024"
            });
    });

    $(document).click(function(e){
        socket.emit("trackClick",{
            point: {x:e.pageX, y:e.pageY},
            pageId: "5098d7a2138675c84e000024"
            });
    });

  });
