.navbar.navbar-fixed-top(role='navigation')
 .navbar-inner
  .container
    a.brand(href='/') Heatmap Analytics
    .nav-collapse.collapse
      ul.nav.dropdown
        if (!everyauth.loggedIn)
          li
            a(href='/features#moveMaps', title="features") Features
          li
            a(href="/suggestions", title="suggestions") Suggestions
        else
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown") Pages
              b.caret
            ul.dropdown-menu
              li
                a(href="/pages/new") New Page
              li
                a(href="/pages") Page List
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown") Suggestions
              b.caret
            ul.dropdown-menu
              li
                a(href="/suggestions/new") New Suggestion
              li
                a(href="/suggestions") Suggestion List
        if user && user.isAdmin
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown") Blog
              b.caret
            ul.dropdown-menu
              li
                a(href="/articles/new") New Post
              li
                a(href="/articles") List
           li
             a(href="/users", title="users") Users
        else
          li
            a(href="/articles", title="blog") Blog
        if (everyauth.loggedIn)
          if user.isAdmin
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown") Documentation
                b.caret
              ul.dropdown-menu
                li
                  a(href="/helpDocuments/new") New Document
                li
                  a(href="/helpDocuments") List
          else
            li
              a(href="/helpDocuments") Documentation
        else
          li
            a(href="/helpDocuments") Documentation
      ul.nav.pull-right
        if (everyauth.loggedIn)
          li
            a(href="/profile/"+current_user.id, title="Profile") #{current_user.name}
          li
            a(href="/logout", title="logout") Logout
        else
          li
            a(href="/login", title="Login") Login
          li
            a(href="/register", title="Register") Register
