meta(charset='utf-8')
meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
//
    meta(name='viewport', content='width=device-width,initial-scale=1')

title= appName+' - '+title
meta( http-equiv='Content-type', content='text/html;charset=UTF-8')
meta(name="keywords", content="analytics, real time, heat maps, web analytics")
meta(name="description", content="Real Time Web analytics application using heat maps")
meta(property="og:image", content="http://192.155.80.130:3000/img/app_icon.png")

link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')

script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/js/app.js')

//
   Application styles
link(rel='stylesheet', href='/css/bootstrap.min.css')

link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/app.css')
//
   <link rel="stylesheet" href="/assets/css/application.css">
//
   Le HTML5 shim, for IE6-8 support of HTML5 elements
//if lt IE 9
  script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')