tr
  td
    a(href='/helpDocument/'+helpDocument._id, title=helpDocument.title) #{helpDocument.title}
  td
    a(href="/profile/"+helpDocument.user._id)=helpDocument.user.name
  td
    span.date=dateformat(helpDocument.created_at, "%b %d, %Y at %I:%M %p")