extends ../layout
block leftPane
  .recentStuffWidget
    h4 Recent Docs:
    ul.list
    - if(helpDocuments.length)
      != partial('helpDocuments_titles_list', {collection : helpDocuments, as : 'helpDocument'})
    - else
      li
        #no-results No documents found.


block content
  != messages()

  h2= title

  div#helpDocuments
    - if(helpDocuments.length)
        table.table.table-striped.table-bordered
          thead
            tr
              th(style="width:60%") Title
              th Author
              th Creation Date
          tbody
            != partial('help_document_list', {collection : helpDocuments, as : 'helpDocument'})
    - else
      #no-results No helpDocuments found. Create one
        a(href="/helpDocuments/new") &nbsp;here
