extends ../layout
block leftPane
  .recentStuffWidget
    h4 Recent Docs:
    ul.list
    - if(helpDocuments.length)
      != partial('helpDocuments_titles_list', {collection : helpDocuments, as : 'helpDocument'})
    - else
      li
        #no-results No documents found.
block content
  != messages()
  h2= helpDocument.title
  p.author
    span Author :&nbsp;
    a(href="/profile/"+helpDocument.user._id)=helpDocument.user.name
    &nbsp;
    span.date=dateformat(helpDocument.created_at, "%b %d, %Y at %I:%M %p")
  <div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet"></a>
  <a class="addthis_button_pinterest_pinit"></a>
  <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=hdxsfbr"></script>
  p!=helpDocument.body

  p
    br
    a.btn(href='/helpDocument/'+helpDocument._id+'/edit', title="edit") Edit
    &nbsp;
    a.btn.destroy(href='/helpDocument/'+helpDocument._id, title="delete") Delete
    &nbsp;