body {
    padding-top: 60px;
}

.date {
    font-size: 11px;
    color: #aaa;
}

.author {
    color: #aaa;
}

.title {
    padding: 5px 0 15px 0;
    display: block;
    font-size: 24px;
}

/*.container {*/
/*width: 820px!important;*/
/*}*/

.article, .comment {
    padding: 15px 0;
    border-top: 1px solid #e8e8e8;
}

#votes-container {
    margin-left: 10px;
}

#votes-container div {
    margin-top: 8px;
}

.addthis_toolbox {
    height:32px;
}

.recentStuffWidget {
    position: relative;
    padding: 5px 15px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.masthead {
    padding: 70px 0 80px;
    margin-bottom: 0;
    color: white;
}

.jumbotron {
    position: relative;
    padding: 40px 0;
    color: white;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -moz-linear-gradient(45deg, #020031 0%, #6D3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6D3353));
    background: -webkit-linear-gradient(45deg, #020031 0%,#6D3353 100%);
    background: -o-linear-gradient(45deg, #020031 0%,#6D3353 100%);
    background: -ms-linear-gradient(45deg, #020031 0%,#6D3353 100%);
    background: linear-gradient(45deg, #020031 0%,#6D3353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.jumbotron p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}

.masthead h1 {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -2px;
}

.masthead p {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
}

.radial-center {
    /* fallback */
    background-color: #FFFF19;
    /*background-image: url(images/radial_bg.png);*/
    background-position: center center;
    background-repeat: no-repeat;

    /* Safari 4-5, Chrome 1-9 */
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FF0000 ), to(#FFFF19));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #FF0000 , #FFFF19);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #FF0000 , #FFFF19);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #FF0000 , #FFFF19);

    /* Opera cannot do radial gradients yet */

    border: 2px solid #d3d3d3;
}

/*#moveMaps .page-header, #clickMaps .page-header,#aggregated .page-header {*/
/**/
/*}*/

.radial-center h1{
    -webkit-text-stroke: 1px #a9a9a9;
    color: white;
}

.navbar .brand {
    background-image: url('../img/app_icon.png');
    background-repeat: no-repeat;
    padding-left: 57px;
    background-position-x: 18px;
    background-position-Y: 3px;
}