extends ../layout

append head
    link(rel="stylesheet", type="text/css", href="/css/bootstrap-wysihtml5.css")

block content
  != messages()

  form.form-horizontal(method="post", action="/articles/"+article._id)
      input(name='_method', value='PUT', type='hidden')
      fieldset
          legend Edit #{article.title}
          .control-group
            label.control-label(for='title') Title
            .controls
              input#title.input-xlarge(type='text', name="article[title]", value=article.title, placeholder='Enter the title')
          .control-group
            label.control-label(for='desc') Body
            .controls
              textarea#desc.input-xxlarge(type='text', rows="6", name="article[body]", placeholder='Enter the article description')=article.body
              script(type="text/javascript")
                  $(function(){
                    $('#desc').wysihtml5();
                  });
          .form-actions
            button.btn.btn-primary(type='submit') Save changes
            &nbsp;
            a.btn(href='/articles', title="cancel") Cancel

append footer
  script(src="/js/wysihtml5.js")
  script(src="/js/bootstrap-wysihtml5.js")
