extends ../layout
block leftPane
  .recentStuffWidget
    h4 Recent Posts:
    ul.list
    - if(articles.length)
      != partial('article_titles_list', {collection : articles, as : 'article'})
    - else
      li
        #no-results No articles found.

block content

  != messages()

  h2= title

  div#articles
    - if(articles.length)
      != partial('article_list', {collection : articles, as : 'article'})
    - else
      #no-results No articles found. Create one
        a(href="/articles/new") &nbsp;here
