extends ../layout
block leftPane
  .recentStuffWidget
    h4 Recent Posts:
    ul.list
    - if(articles.length)
      != partial('article_titles_list', {collection : articles, as : 'article'})
    - else
      li
        #no-results No articles found.

block content
  != messages()

  h2= article.title
  p.author
    span Author :&nbsp;
    a(href="/profile/"+article.user._id)=article.user.name
    &nbsp;
    span.date=dateformat(article.created_at, "%b %d, %Y at %I:%M %p")
  <div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet"></a>
  <a class="addthis_button_pinterest_pinit"></a>
  <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=hdxsfbr"></script>
  p!=article.body
  p
    br
    a.btn(href='/article/'+article._id+'/edit', title="edit") Edit
    &nbsp;
    a.btn.destroy(href='/article/'+article._id, title="delete") Delete
    &nbsp;


  p
    br
    h2 Comments
    != partial('../comments/list', {collection : comments, as : 'comment'})
    != partial('../comments/form')
