extends ../layout
block content

  != messages()

  h2= title

  div#users
    - if(users.length)
      table.table.table-striped.table-bordered
        thead
          tr
            th(style="width:40%") Name
            th Email
            th Creation Date
        tbody
          != partial('user_list', {collection : users, as : 'a_user'})
    - else
      #no-results No pages found.
