extends ../layout

block content

  h2 User Profile

  p.author
    span Name:
    p=user1.name

  p.author
    span Email:
    p= user1.email
  p.author
    span Creation Date:
    p=dateformat(user1.created_at, "%b %d, %Y at %I:%M %p")


