extends ../layout
block content

  != messages()

  form.form-horizontal(method="post", action="/pages/"+page._id)
      input(name='_method', value='PUT', type='hidden')
      fieldset
          legend Edit #{page.title}
          .control-group
            label.control-label(for='title') Title
            .controls
              input#title.input-xlarge(type='text', name="page[title]", value=page.title, placeholder='Enter the title')
          .control-group
            label.control-label(for='url') URL
            .controls
              input#url.input-xlarge(type='text', name="page[url]", value=page.url, placeholder='Enter the URL')
          .control-group
            label.control-label(for='desc') Description
            .controls
              textarea#desc.input-xxlarge(type='text', rows="6", name="page[description]", placeholder='Enter the page description')=page.description
          .form-actions
            button.btn.btn-primary(type='submit') Save changes
            &nbsp;
            a.btn(href='/pages', title="cancel") Cancel

