extends ../layout

block leftPane
  .recentStuffWidget
    h4 Recent Pages:
    ul.list
    - if(pages.length)
      != partial('pages_titles_list', {collection : pages, as : 'page'})
    - else
      li
        #no-results No documents found.


block content

  != messages()

  h2= title

  div#pages
    - if(pages.length)
       table.table.table-striped.table-bordered
         thead
           tr
             th(style="width:40%") Title
             th URL
             th Author
             th Creation Date
         tbody
           != partial('page_list', {collection : pages, as : 'page'})
    - else
      #no-results No pages found. Create one
        a(href="/pages/new") &nbsp;here
