tr
  td
    a(href='/page/'+page._id, title=page.title) #{page.title}
  td
    a(href=page.url, title=page.url) #{page.url}
  td
    a(href="/profile/"+page.user._id)=page.user.name
  td
    span.date=dateformat(page.created_at, "%b %d, %Y at %I:%M %p")
