extends ../layout

block leftPane
  .recentStuffWidget
    h4 Your Pages:
    ul.list
    - if(pages.length)
      != partial('pages_titles_list', {collection : pages, as : 'page'})
    - else
      li
        #no-results No documents found.

block content

  != messages()

  h2= page.title
  p.author
    span URL:&nbsp;
    a(href=page.url)=page.url
  p
    span.author Description:&nbsp;
    p=page.description
  span.date=dateformat(page.created_at, "%b %d, %Y at %I:%M %p")

  p
    br
    a.btn(href='/page/'+page._id+'/edit', title="edit") Edit
    &nbsp;
    a.btn.destroy(href='/page/'+page._id, title="delete") Delete
    &nbsp;
    a.btn(href='#', title="embedCode", data-toggle="modal", data-target="#myModal") Get Embed Code
    &nbsp;
    a.btn(href='/maps/click/'+page._id, title="clickMap", target="_blank") View ClickMap
    &nbsp;
    a.btn(href='/maps/move/'+page._id, title="moveMap", target="_blank") View MoveMap
    &nbsp;

  #myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") x
      h3#myModalLabel Embed Code
    .modal-body
      p.text-info Place the following code just before the closing body tag of your page:
      textarea(style="width:100%;height:128px") <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script><script type="text/javascript">$(function(){var e=io.connect("http://localhost:3000");$(document).mousemove(function(t){e.emit("trackMove",{point:{x:t.pageX,y:t.pageY},pageId:"#{page._id}"})});$(document).click(function(t){e.emit("trackClick",{point:{x:t.pageX,y:t.pageY},pageId:"#{page._id}"})})})</script>