extends layout_homepage
block content
  .row
    .span3
      ul.nav.nav-tabs.nav-stacked.affix
        li
          a(href="#moveMaps") 1. Mouse Move Maps
            i.icon-chevron-right
        li
          a(href="#clickMaps") 2. Mouse Click Maps
            i.icon-chevron-right
        li
          a(href="#aggregated") 3. Real Time & Aggregated
            i.icon-chevron-right

    .span9
      section#moveMaps(style="height:42px")
      section
        .page-header
          h1 1. Mouse Move Heat Maps
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.

      section#clickMaps(style="height:42px")
      section
        .page-header
          h1 2. Mouse Click Heat Maps
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.

      section#aggregated(style="height:42px")
      section
        .page-header
          h1 3. Real Time & Aggregated
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.

