html(class="no-js", lang="en")
head
    meta(charset="utf-8")
    title= appName+' - '+title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    style
        body {
            margin:0;
        }
        .settings-icon{
            background-color: lightGrey;
            width: 115px;
            text-align: center;
            line-height: 30px;
            border: 1px solid gray;
            z-index:10000000;
            position:absolute;
            right:0;
            top:0;
            margin:auto;
        }

        iframe.iframe-container {
            height:95%;
            width:100%;
            border:none;
        }

        .control-group {
            background-color: lightGrey;
            padding: 15px;
            padding-top: 0px;

        }

    script(type='text/javascript', src='/js/heatmap.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript')
        $(function(){
            var config = {
                        "radius": 30,
                        "element": document.getElementsByTagName("body")[0],
                        "visible": true,
                        "opacity": 70
                  };

            //move heatmaps admin code
            var heatmap = heatmapFactory.create(config);

            var $loading = $("#loadingMessage");
            var $controls = $(".control-group");

            function loadHeatmapData(heatmapType) {
                $loading.show();
                $loading.text("Loading..");
                $controls.hide();
                $.get('/maps/#{streamType.toLowerCase()}/'+heatmapType+'/#{page._id}', function(data) {
                  $loading.text("Loading " + data.data.length + " Points");
                  $loading.show(function(){
                    //heatmap.store.setDataSet(data);
                    var idx = 0;
                    var interval = setInterval(function() {
                        for(var loopIdx = 0; loopIdx < 30; loopIdx++) {
                          if(idx < data.data.length) {
                              heatmap.store.addDataPoint(data.data[idx].x, data.data[idx].y, data.data[idx].count);
                              idx++;
                          }
                        }

                         $loading.text("Painting " + (idx+1) + " of " + data.data.length);
                         if (idx >= data.data.length){
                           clearInterval(interval);
                           $loading.hide();
                           $controls.show();
                         }
                     }, 10);
                  });
                });
            }

            var socket = io.connect('http://localhost:3000');
            socket.on('addToHeatMap', function(data){
                heatmap.store.addDataPoint(data.point.x, data.point.y);
            });

            $(".heatmapType").click(function(){
                var type =  $(this).val();
                if(type === 'realTime') {
                    heatmap.clear();
                    connectSocket();
                } else {
                    disconnectSocket();
                    loadHeatmapData(type);
                }

            });

            function connectSocket() {
                socket.emit("subscribeTo#{streamType}Stream", {pageId: "#{page._id}" });
            }

            function disconnectSocket() {
                console.log(socket);
                socket.emit("unSubscribeTo#{streamType}Stream", {pageId: "#{page._id}" });
            }

            connectSocket();
        });
body
    div
        .settings-icon
          span Menu
          br
          span(style="display:none", id="loadingMessage") Loading!!
          .control-group
            .controls
              label(class="radio")
                input(type="radio", name="optionsRadios", id="optionsRadios1", value="realTime", class="heatmapType", checked)
                span Real Time
              label(class="radio")
                input(type="radio", name="optionsRadios", id="optionsRadios2", value="lastDay", class="heatmapType")
                span Last Day
              label(class="radio")
                input(type="radio", name="optionsRadios", id="optionsRadios2", value="lastWeek", class="heatmapType")
                span Last Week
              label(class="radio")
                input(type="radio", name="optionsRadios", id="optionsRadios3", value="lastMonth", class="heatmapType")
                span Last Month

        iframe(src="#{page.url}", frameborder='0', class="iframe-container")

