extends layout_homepage
block content
   != messages()
    .hero-unit.radial-center
      h1 Welcome to Heatmap Analytics!
      p Heatmap Analytics is a tool used to improve the understanding of how people use web pages and web applications. It works by collecting usage data from web pages, such as mouse movements and mouse clicks, and it uses heat-maps to display the collected data in a way that is intuitive to understand. Heatmap Analytics provides the infrastructure required for the data collection as well as several tools to help visualize and understand the collected data in aggregated ways and as well as in real time.
      p
        a.btn.btn-primary.btn-large(href="/features#moveMaps") Learn more &raquo;
    .row
      .span4 &nbsp;
      .span6
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_pinterest_pinit"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=hdxsfbr"></script>
      .span2 &nbsp;
    .row
      .span4
        h2 Mouse Move Maps
        img(src="/img/move_map_small.png")
        p This feature tracks the movement of the mouse made by the visitors on the website/webpage. It uses this data to provide a complete visual representation of the visitors movement on the webpage. What the visitors are looking and which areas are their focusing on within the page are clearly shown in a a way that is intuitively easy to understand.
        p
          a.btn(href="/features#moveMaps") View details &raquo;
      .span4
        h2 Mouse Click Maps
        img(src="/img/click_map_small.png")
        p Monitor the locations on the page where the visitors click. Whether the user clicked on an advertisement or a link or an image or a button or some dead space etc we are tracking it!. With Heat Maps you can clearly see on which areas the visitors are mostly clicking on, and you can then change the layout of the page accordingly.
        p
          a.btn(href="/features#clickMaps") View details &raquo;
      .span4
        h2 Real Time & Aggregated
        p With Heatmap Analytics you get a visual representation of how people interact with a certain page. When viewing a Heat Map you have the choice of choosing between Real Time, Last Hour, Last Day and Last Month as inputs for your Heat Map.
        p
          a.btn(href="/features#aggregated") View details &raquo;
    hr