!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  block head
    head
      include includes/head
      style
  body
    .container
      include includes/header
      .row
        .span2
          block leftPane
            &nbsp;
        .span8
          block content
        .span2
          block rightPane
            &nbsp;
    block footer
      include includes/foot
