extends layout_homepage
block content
    - if ('undefined' !== typeof errors && errors.length)
      ul#errors
        - each error in errors
          li.error= error
    form(action='/login', method='POST')
      #login
        label(for=everyauth.password.loginFormFieldName) Email
        input(type='text', name=everyauth.password.loginFormFieldName, value=email)
      #password
        label(for=everyauth.password.passwordFormFieldName) Password
        input(type='password', name=everyauth.password.passwordFormFieldName)
      #submit.form-actions
        button.btn.btn-primary(type='submit') Login

