extends layout_homepage
block content
    h2 Register
    - if ('undefined' !== typeof errors && errors.length)
      ul#errors
        - each error in errors
          li.error= error
    form(action='/register', method='POST')
      #name
        label(for='name') Full Name
        input(type='text', name='name' , value=userParams['name'], autocomplete='off')
      #email
        label(for=everyauth.password.loginFormFieldName) Email
        input(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName], autocomplete='off')
      #password
        label(for=everyauth.password.passwordFormFieldName) Password
        input(type='password', name=everyauth.password.passwordFormFieldName, autocomplete='off')
      #submit.form-actions
        button.btn.btn-primary(type='submit') Register
