extends ../layout


block leftPane
  .recentStuffWidget
    h4 Recent Suggestions:
    ul.list
    - if(suggestions.length)
      != partial('suggestions_titles_list', {collection : suggestions, as : 'suggestion'})
    - else
      li
        #no-results No suggestions found.

block content

  != messages()

  h2= title

  div#suggestions
    - if(suggestions.length)
      table.table.table-striped.table-bordered
        thead
          tr
            th(style="width:60%") Title
            th Author
            th Votes
            th Creation Date
        tbody
          != partial('suggestion_list', {collection : suggestions, as : 'suggestion'})

    - else
      #no-results No suggestions found. Create one
        a(href="/suggestions/new") &nbsp;here
