extends ../layout

append head
    link(rel="stylesheet", type="text/css", href="/css/bootstrap-wysihtml5.css")

block content

  != messages()

  form.form-horizontal(method="post", action="/suggestions")
      fieldset
          legend= title
          .control-group
            label.control-label(for='title') Title
            .controls
              input#title.input-xlarge(type='text', name="suggestion[title]", value=suggestion.title, placeholder='Enter the title')
          .control-group
            label.control-label(for='desc') Body
            .controls
              textarea#desc.input-xxlarge(type='text', rows="6", name="suggestion[body]", placeholder='Enter the suggestion description')=suggestion.body
              script(type="text/javascript")
                $(function(){
                  $('#desc').wysihtml5();
                });
          .form-actions
            button.btn.btn-primary(type='submit') Save changes
            &nbsp;
            a.btn(href='/suggestions', title="cancel") Cancel

append footer
  script(src="/js/wysihtml5.js")
  script(src="/js/bootstrap-wysihtml5.js")

