extends ../layout

block leftPane
  .recentStuffWidget
    h4 Recent Suggestions:
    ul.list
    - if(suggestions.length)
      != partial('suggestions_titles_list', {collection : suggestions, as : 'suggestion'})
    - else
      li
        #no-results No suggestions found.

block content
  != messages()
  #tite-bar
    h2= suggestion.title
    span#votes-container.well.pull-right
      span.votes #{suggestion.votes} Votes
      div
        center
          button.align-center(data-suggestion-id='#{suggestion._id}')
            i.icon-thumbs-up
  p.author
    span Author :&nbsp;
    a(href="/profile/"+suggestion.user._id)=suggestion.user.name
    &nbsp;
    span.date=dateformat(suggestion.created_at, "%b %d, %Y at %I:%M %p")
  <div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet"></a>
  <a class="addthis_button_pinterest_pinit"></a>
  <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=hdxsfbr"></script>
  p!=suggestion.body
  p
    br
    a.btn(href='/suggestion/'+suggestion._id+'/edit', title="edit") Edit
    &nbsp;
    a.btn.destroy(href='/suggestion/'+suggestion._id, title="delete") Delete
    &nbsp;
