tr
  td
    a(href='/suggestion/'+suggestion._id, title=suggestion.title) #{suggestion.title}
  td
    a(href="/profile/"+suggestion.user._id)=suggestion.user.name
  td=suggestion.votes
  td
    span.date=dateformat(suggestion.created_at, "%b %d, %Y at %I:%M %p")
